@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "./mixin", "./normmalize", "./varibles";

@import "./Navbar.scss", "./Header.scss";

@import "./pageStyles/MainBanner.scss";
