.navbar-bg {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
}

.navbar {
  @include flex(center, space-between);
  padding: 22px 0;
  &__directs {
    @include flex(center, space-between);
    &-item {
      margin: 0 24px;
      font-family: $mainFont;
      font-style: normal;
      font-weight: $fontWeight;
      font-size: 16px;
      line-height: 19px;
      color: $mainColor;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 20px;
        width: 0;
        height: 3px;
        background: #ffdc00;
        transition: $transition;
        margin-top: 30px;
      }
      &:hover::before {
        width: 100%;
        left: 0;
      }
    }
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
  &__language {
    @include flex(center, center);
    width: 90px;
    height: 35px;
    background: rgba(240, 240, 240, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 5px;
    span {
      font-family: $mainFont;
      font-style: normal;
      font-weight: $fontWeight;
      font-size: 16px;
      line-height: 19px;
      color: #8c8c8c;
    }
    &-item {
      margin: 5px;
    }

    &_mob-hidden {
      @media screen and (max-width: 990px) {
        display: none;
      }
    }
  }

  &__menu {
    cursor: pointer;
    display: none;
    @media screen and (max-width: 990px) {
      display: block;
    }
  }

  &__content {
    background: #fff;
    width: 100%;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 100%;
    transition: $transition;
    &-main {
      @include flex(center, space-between);
      margin-bottom: 70px;
      .main__text {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: $black;
      }
      .main__btn {
        background: transparent;
        border: none;
      }
    }

    &-menu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .menu__item {
        border-bottom: 1px solid #bfbfbf;
        &-link {
          display: flex;
          align-items: center;
          padding: 10px 12px;
          h5 {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $fontWeight;
            font-size: 20px;
            line-height: 24px;
            color: #3a3a3a;
            margin-left: 12px;
          }
        }
      }
    }

    &-info {
      @include flex(center, space-between);
      margin-top: 48px;
      flex-wrap: wrap;
      gap: 16px;
      .info__number {
        @include flex(center, space-between);
        border-radius: 12px;
        padding: 9px 12px;
        background: rgba(240, 240, 240, 0.6);
        backdrop-filter: blur(10px);
        p {
          font-family: $mainFont;
          font-style: normal;
          font-weight: $fontWeight;
          font-size: 16px;
          line-height: 19px;
          color: #8c8c8c;
          margin-left: 8px;
        }
      }
    }

    &.show{
      left: 0;
    }
  }
}
