.main-banner {
  margin-top: 48px;
}

.banner {
  @include flex(strech, center);
  background: #f5f5f5;
  border-radius: 26px;
  @include adaptive-value(padding-inline, 64, 18, 1);
  @include adaptive-value(padding-block, 60, 24, 1);
  gap: 24px;
  &__text {
    width: 49%;
    &-title {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 600;
      @include adaptive-value(font-size, 39, 31, 1);
      @include adaptive-value(padding-bottom, 16, 12, 1);
      line-height: 120%;
      color: $textColor;
    }
    &-desc {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 300;
      @include adaptive-value(font-size, 20, 16, 1);
      line-height: 24px;
      color: $mainColor;
      margin-bottom: 32px;
    }
  }

  &__img {
    width: 49%;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 991px){
    flex-direction: column-reverse;
    &__text{
      width: 100%;
      text-align: center;
    }
    &__img{
      width: 100%;
    }
  }
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid $yellow;
  width: 12px;
  height: 12px;
  opacity: unset;
  // @include adaptive-value (margin-top, 32, 24, 1)
}

.swiper-pagination-bullet-active {
  background: $yellow !important ;
}